@tailwind base;
@tailwind components;
@tailwind utilities;

#navbar li{
    padding: 5px 10px;
}
#navbar li a:hover{
    border-bottom: solid 1px orange;
    color: orange;
}
#navbar a{
    padding: 5px;
}

#responsive{
    top: -500px !important;
    transition: 0.6s all ease-in-out;
}
#responsive.active-navbar{
    top: 4rem !important;
}
body{
    background-color: #222831;
    overflow-x: hidden;
    scroll-behavior: smooth !important;
}
#about li{
    padding: 10px 0px;
}
html{
    scroll-behavior: smooth;
}
